<a href="https://colab.research.google.com/github/NgaanLee/Python/blob/main/ThucHanhPyhon_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB 1: Ngôn ngữ lập trình Python và modules

# Bài tập chương 3

1. Two of Python’s built-in functions are min and max. In the Python shell,
execute the following function calls:

In [ ]:
min(2,3,4)

2

In [ ]:
max(2,-3,4,7,-5)

7

In [ ]:
max(2,-3,min(4,7),-5)

4

2. For the following function calls, in what order are the subexpressions
evaluated?

In [ ]:
min(max(3, 4), abs(-5))

4

In [ ]:
abs(min(4, 6, max(2, 8)))

4

In [ ]:
round(max(5.572, 3.258),abs(-2))

5.57

3. Following the function design recipe, define a function that has one
parameter, a number, and returns that number tripled

In [ ]:
def number_tripled(number):
  return number*number*number

In [ ]:
number_tripled(3)

27

4. Following the function design recipe, define a function that has two
parameters, both of which are numbers, and returns the absolute value
of the difference of the two. Hint: Call built-in function abs.

In [ ]:
def abs_difference(a,b):
  return abs(a-b)

In [ ]:
abs_difference(4,5)

1

5. Following the function design recipe, define a function that has one
parameter, a distance in kilometers, and returns the distance in miles.
(There are 1.6 kilometers per mile.)

In [ ]:
def dis_miles(km):
  return km/1.6

In [ ]:
dis_miles(5)

3.125

6. Following the function design recipe, define a function that has three
parameters, grades between 0 and 100 inclusive, and returns the average
of those grades.

In [ ]:
def avg_three(num1,num2,num3):
  return (num1+num2+num3)/3

In [ ]:
avg_three(3,4,5)

4.0

7. Following the function design recipe, define a function that has four
parameters, all of them grades between 0 and 100 inclusive, and returns
the average of the best 3 of those grades. Hint: Call the function that you
defined in the previous exercise

In [ ]:
def avg_threemax(num1,num2,num3,num4):
  a=(num1+num2+num3)/3
  b=(num1+num2+num4)/3
  c=(num1+num3+num4)/3
  d=(num2+num3+num4)/3
  return max(a,b,c,d)

In [ ]:
avg_threemax(5,5,7,4)

5.666666666666667

8. Complete the examples in the docstring and then write the body of the
following function:

In [ ]:
def weeks_elapsed(day1, day2):
  #day1 and day2 are days in the same year. Return the number of full weeks that have elapsed between the two days.
  return (abs(day2-day1)//7)

In [ ]:
 weeks_elapsed(40,61)

3

9. Consider this code:
In the following table, fill in the Example column by writing square, num,
square(3), and 3 next to the appropriate description.

---
*   Parameter(tham số)     = num
*   Argument(đối số)       = 3
*   Function name(tên hàm) = square
*   Function call(gọi hàm) = square(3)

10.Write the body of the square function from the previous exercise.

In [ ]:
def square(num):
  return num**2

In [ ]:
square(3)

9